ul {
  padding: 0;
}

.comment-container {
  border: 1px solid black;
  margin: 10px auto;
  padding: 10px;
  max-width: 1000px;
  border-radius: 10px;
}

.comment-header {
  display: flex;
  justify-content: space-between;
}
