* {
  list-style-type: none;
  scroll-behavior: smooth;
}

ul {
  padding: 0;
}

nav a {
  margin: 10px;
}

a {
  text-decoration: none;
}

.topic-link {
  margin: 10px;
  text-transform: capitalize;
  font-size: 20px;
}

.escape-link {
  margin: 10px;
}
